# Ignore Vagrant state
.vagrant
.vagrant/

# Kubernetes configs (contain sensitive cluster certificates)
admin.conf
*.conf

# Temporary files
tmp*

# Kubernetes admin config (should NEVER be committed)
admin.conf
*.kube/config
**/admin.conf
.vagrant/

