services:
  model-service:
    image: ghcr.io/doda25-team2/model-service:latest
    environment:
      - MODEL_SERVICE_PORT=8081
    volumes:
      - model-data:/models
    restart: unless-stopped

  app:
    image: ghcr.io/doda25-team2/app:latest
    depends_on:
      - model-service
    ports:
      - "8080:8080"
    environment:
      - APP_PORT=8080
      - MODEL_SERVICE_URL=http://model-service:8081
    restart: unless-stopped

volumes:
  model-data:
